/*
Made by Elevict

Date: Last updated Auguest 8th, 2024
Description: A series of gradient headers that you can stylize.
*/

/* ============== Gradient Headers ============== */

/* @settings

name: Gradient Header Settings
id: gradient-header-settings
settings:
# Styling
    -
        title: Styling
        type: heading
        level: 1
        collapsed: true
    - 
        id: header-font-family
        title: Header Font Type
        description: Font used for text in the header
        type: variable-text
        default: 'Trebuchet MS'
    -   
        id: header-font-size
        title: Header Font Size
        type: variable-number
        default: 22
        format: pt
    -   
        id: header-font-weight
        title: Callout Title Font Weight
        descripotion: How bold the header appears
        type: variable-number-slider
        default: 100
        min: 0
        max: 1000
        step: 100
    -   
        id: gradient-header-location
        title: Center Heading
        description: Moves your headings to the center when toggled
        type: class-toggle
    -
# Colors
        title: Colors
        type: heading
        level: 1
        collapsed: true
    -   
        title: Gradient 1
        type: heading
        level: 2
        collapsed: true
    - 
        id: header-gradient-1-start
        title: Gradient 1 Start
        type: variable-color
        opacity: false
        format: rgb
        default: 'rgb(45, 34, 198)'
    - 
        id: header-gradient-1-end
        title: Gradient 1 End
        type: variable-color
        opacity: false
        format: rgb
        default: 'rgb(235, 30, 245)'
    - 
        title: Gradient 2
        type: heading
        level: 2
        collapsed: true
    - 
        id: header-gradient-2-start
        title: Gradient 1 Start
        type: variable-color
        opacity: false
        format: rgb
        default: 'rgb(34, 199, 50)'
    - 
        id: header-gradient-2-end
        title: Gradient 1 End
        type: variable-color
        opacity: false
        format: rgb
        default: 'rgb(219, 210, 29)'
    - 
        title: Gradient 3
        type: heading
        level: 2
        collapsed: true
    - 
        id: header-gradient-3-start
        title: Gradient 1 Start
        type: variable-color
        opacity: false
        format: rgb
        default: 'rgb(199, 169, 34)'
    - 
        id: header-gradient-3-end
        title: Gradient 1 End
        type: variable-color
        opacity: false
        format: rgb
        default: 'rgb(219, 29, 29)'
    - 
        title: Gradient 4
        type: heading
        level: 2
        collapsed: true
    - 
        id: header-gradient-4-start
        title: Gradient 1 Start
        type: variable-color
        opacity: false
        format: rgb
        default: 'rgb(33, 59, 255)'
    - 
        id: header-gradient-4-end
        title: Gradient 1 End
        type: variable-color
        opacity: false
        format: rgb
        default: 'rgb(0, 255, 179)'
    - 
        title: Gradient 5
        type: heading
        level: 2
        collapsed: true
    - 
        id: header-gradient-5-start
        title: Gradient 1 Start
        type: variable-color
        opacity: false
        format: rgb
        default: 'rgb(255, 0, 191)'
    - 
        id: header-gradient-5-end
        title: Gradient 1 End
        type: variable-color
        opacity: false
        format: rgb
        default: 'rgb(255, 0, 115)'
        # Styling
# Borders
    -
        title: Border
        type: heading
        level: 1
        collapsed: true
    -
        id: gradient-border
        title: Enable Borders
        description: Enables heading borders
        type: class-toggle
    - 
        id: header-gradient-border-size
        title: Border Size
        type: variable-number
        default: 2
        format: px
    -   
        id: header-gradient-border-radius
        title: Border Radius
        type: variable-number
        default: 10
        format: px
*/

/* ============== Callout Variables ============== */

body {
  /* Gradient Header Default Settings */
  --header-font-family: 'Trebuchet MS';
  --header-font-size: 22pt;
  --header-font-weight: 100;
  --header-text-location: left;
  --header-gradient-border-size: 1px;
  --header-gradient-border-radius: 10px;

  /* Gradient Header Start and End Colors */
  --header-gradient-1-start: rgb(45, 34, 198);
  --header-gradient-1-end: rgb(235, 30, 245);

  --header-gradient-2-start: rgb(34, 199, 50);
  --header-gradient-2-end: rgb(219, 210, 29);

  --header-gradient-3-start: rgb(199, 169, 34);
  --header-gradient-3-end: rgb(219, 29, 29);

  --header-gradient-4-start: rgb(33, 59, 255);
  --header-gradient-4-end: rgb(0, 255, 179);

  --header-gradient-5-start: rgb(255, 0, 191);
  --header-gradient-5-end: rgb(255, 0, 115);

  /* Setting all color variables */
  --header-gradient-1-1: color-mix(in srgb, var(--header-gradient-1-end) 0%, var(--header-gradient-1-start) 100%);
  --header-gradient-1-2: color-mix(in srgb, var(--header-gradient-1-end) 6.25%, var(--header-gradient-1-start) 93.75%);
  --header-gradient-1-3: color-mix(in srgb, var(--header-gradient-1-end) 12.5%, var(--header-gradient-1-start) 87.5%);
  --header-gradient-1-4: color-mix(in srgb, var(--header-gradient-1-end) 18.75%, var(--header-gradient-1-start) 81.25%);
  --header-gradient-1-5: color-mix(in srgb, var(--header-gradient-1-end) 25%, var(--header-gradient-1-start) 75%);
  --header-gradient-1-6: color-mix(in srgb, var(--header-gradient-1-end) 31.25%, var(--header-gradient-1-start) 68.75%);
  --header-gradient-1-7: color-mix(in srgb, var(--header-gradient-1-end) 37.5%, var(--header-gradient-1-start) 62.5%);
  --header-gradient-1-8: color-mix(in srgb, var(--header-gradient-1-end) 43.75%, var(--header-gradient-1-start) 56.25%);
  --header-gradient-1-9: color-mix(in srgb, var(--header-gradient-1-end) 50%, var(--header-gradient-1-start) 50%);
  --header-gradient-1-10: color-mix(in srgb, var(--header-gradient-1-end) 56.25%, var(--header-gradient-1-start) 43.75%);
  --header-gradient-1-11: color-mix(in srgb, var(--header-gradient-1-end) 62.5%, var(--header-gradient-1-start) 37.5%);
  --header-gradient-1-12: color-mix(in srgb, var(--header-gradient-1-end) 68.75%, var(--header-gradient-1-start) 31.25%);
  --header-gradient-1-13: color-mix(in srgb, var(--header-gradient-1-end) 75%, var(--header-gradient-1-start) 25%);
  --header-gradient-1-14: color-mix(in srgb, var(--header-gradient-1-end) 81.25%, var(--header-gradient-1-start) 18.75%);
  --header-gradient-1-15: color-mix(in srgb, var(--header-gradient-1-end) 87.5%, var(--header-gradient-1-start) 12.5%);
  --header-gradient-1-16: color-mix(in srgb, var(--header-gradient-1-end) 93.75%, var(--header-gradient-1-start) 6.25%);
  --header-gradient-1-17: color-mix(in srgb, var(--header-gradient-1-end) 100%, var(--header-gradient-1-start) 0%);

  --header-gradient-2-1: color-mix(in srgb, var(--header-gradient-2-end) 0%, var(--header-gradient-2-start) 100%);
  --header-gradient-2-2: color-mix(in srgb, var(--header-gradient-2-end) 6.25%, var(--header-gradient-2-start) 93.75%);
  --header-gradient-2-3: color-mix(in srgb, var(--header-gradient-2-end) 12.5%, var(--header-gradient-2-start) 87.5%);
  --header-gradient-2-4: color-mix(in srgb, var(--header-gradient-2-end) 18.75%, var(--header-gradient-2-start) 81.25%);
  --header-gradient-2-5: color-mix(in srgb, var(--header-gradient-2-end) 25%, var(--header-gradient-2-start) 75%);
  --header-gradient-2-6: color-mix(in srgb, var(--header-gradient-2-end) 31.25%, var(--header-gradient-2-start) 68.75%);
  --header-gradient-2-7: color-mix(in srgb, var(--header-gradient-2-end) 37.5%, var(--header-gradient-2-start) 62.5%);
  --header-gradient-2-8: color-mix(in srgb, var(--header-gradient-2-end) 43.75%, var(--header-gradient-2-start) 56.25%);
  --header-gradient-2-9: color-mix(in srgb, var(--header-gradient-2-end) 50%, var(--header-gradient-2-start) 50%);
  --header-gradient-2-10: color-mix(in srgb, var(--header-gradient-2-end) 56.25%, var(--header-gradient-2-start) 43.75%);
  --header-gradient-2-11: color-mix(in srgb, var(--header-gradient-2-end) 62.5%, var(--header-gradient-2-start) 37.5%);
  --header-gradient-2-12: color-mix(in srgb, var(--header-gradient-2-end) 68.75%, var(--header-gradient-2-start) 31.25%);
  --header-gradient-2-13: color-mix(in srgb, var(--header-gradient-2-end) 75%, var(--header-gradient-2-start) 25%);
  --header-gradient-2-14: color-mix(in srgb, var(--header-gradient-2-end) 81.25%, var(--header-gradient-2-start) 18.75%);
  --header-gradient-2-15: color-mix(in srgb, var(--header-gradient-2-end) 87.5%, var(--header-gradient-2-start) 12.5%);
  --header-gradient-2-16: color-mix(in srgb, var(--header-gradient-2-end) 93.75%, var(--header-gradient-2-start) 6.25%);
  --header-gradient-2-17: color-mix(in srgb, var(--header-gradient-2-end) 100%, var(--header-gradient-2-start) 0%);

  --header-gradient-3-1: color-mix(in srgb, var(--header-gradient-3-end) 0%, var(--header-gradient-3-start) 100%);
  --header-gradient-3-2: color-mix(in srgb, var(--header-gradient-3-end) 6.25%, var(--header-gradient-3-start) 93.75%);
  --header-gradient-3-3: color-mix(in srgb, var(--header-gradient-3-end) 12.5%, var(--header-gradient-3-start) 87.5%);
  --header-gradient-3-4: color-mix(in srgb, var(--header-gradient-3-end) 18.75%, var(--header-gradient-3-start) 81.25%);
  --header-gradient-3-5: color-mix(in srgb, var(--header-gradient-3-end) 25%, var(--header-gradient-3-start) 75%);
  --header-gradient-3-6: color-mix(in srgb, var(--header-gradient-3-end) 31.25%, var(--header-gradient-3-start) 68.75%);
  --header-gradient-3-7: color-mix(in srgb, var(--header-gradient-3-end) 37.5%, var(--header-gradient-3-start) 62.5%);
  --header-gradient-3-8: color-mix(in srgb, var(--header-gradient-3-end) 43.75%, var(--header-gradient-3-start) 56.25%);
  --header-gradient-3-9: color-mix(in srgb, var(--header-gradient-3-end) 50%, var(--header-gradient-3-start) 50%);
  --header-gradient-3-10: color-mix(in srgb, var(--header-gradient-3-end) 56.25%, var(--header-gradient-3-start) 43.75%);
  --header-gradient-3-11: color-mix(in srgb, var(--header-gradient-3-end) 62.5%, var(--header-gradient-3-start) 37.5%);
  --header-gradient-3-12: color-mix(in srgb, var(--header-gradient-3-end) 68.75%, var(--header-gradient-3-start) 31.25%);
  --header-gradient-3-13: color-mix(in srgb, var(--header-gradient-3-end) 75%, var(--header-gradient-3-start) 25%);
  --header-gradient-3-14: color-mix(in srgb, var(--header-gradient-3-end) 81.25%, var(--header-gradient-3-start) 18.75%);
  --header-gradient-3-15: color-mix(in srgb, var(--header-gradient-3-end) 87.5%, var(--header-gradient-3-start) 12.5%);
  --header-gradient-3-16: color-mix(in srgb, var(--header-gradient-3-end) 93.75%, var(--header-gradient-3-start) 6.25%);
  --header-gradient-3-17: color-mix(in srgb, var(--header-gradient-3-end) 100%, var(--header-gradient-3-start) 0%);

  --header-gradient-4-1: color-mix(in srgb, var(--header-gradient-4-end) 0%, var(--header-gradient-4-start) 100%);
  --header-gradient-4-2: color-mix(in srgb, var(--header-gradient-4-end) 6.25%, var(--header-gradient-4-start) 93.75%);
  --header-gradient-4-3: color-mix(in srgb, var(--header-gradient-4-end) 12.5%, var(--header-gradient-4-start) 87.5%);
  --header-gradient-4-4: color-mix(in srgb, var(--header-gradient-4-end) 18.75%, var(--header-gradient-4-start) 81.25%);
  --header-gradient-4-5: color-mix(in srgb, var(--header-gradient-4-end) 25%, var(--header-gradient-4-start) 75%);
  --header-gradient-4-6: color-mix(in srgb, var(--header-gradient-4-end) 31.25%, var(--header-gradient-4-start) 68.75%);
  --header-gradient-4-7: color-mix(in srgb, var(--header-gradient-4-end) 37.5%, var(--header-gradient-4-start) 62.5%);
  --header-gradient-4-8: color-mix(in srgb, var(--header-gradient-4-end) 43.75%, var(--header-gradient-4-start) 56.25%);
  --header-gradient-4-9: color-mix(in srgb, var(--header-gradient-4-end) 50%, var(--header-gradient-4-start) 50%);
  --header-gradient-4-10: color-mix(in srgb, var(--header-gradient-4-end) 56.25%, var(--header-gradient-4-start) 43.75%);
  --header-gradient-4-11: color-mix(in srgb, var(--header-gradient-4-end) 62.5%, var(--header-gradient-4-start) 37.5%);
  --header-gradient-4-12: color-mix(in srgb, var(--header-gradient-4-end) 68.75%, var(--header-gradient-4-start) 31.25%);
  --header-gradient-4-13: color-mix(in srgb, var(--header-gradient-4-end) 75%, var(--header-gradient-4-start) 25%);
  --header-gradient-4-14: color-mix(in srgb, var(--header-gradient-4-end) 81.25%, var(--header-gradient-4-start) 18.75%);
  --header-gradient-4-15: color-mix(in srgb, var(--header-gradient-4-end) 87.5%, var(--header-gradient-4-start) 12.5%);
  --header-gradient-4-16: color-mix(in srgb, var(--header-gradient-4-end) 93.75%, var(--header-gradient-4-start) 6.25%);
  --header-gradient-4-17: color-mix(in srgb, var(--header-gradient-4-end) 100%, var(--header-gradient-4-start) 0%);

  --header-gradient-5-1: color-mix(in srgb, var(--header-gradient-5-end) 0%, var(--header-gradient-5-start) 100%);
  --header-gradient-5-2: color-mix(in srgb, var(--header-gradient-5-end) 6.25%, var(--header-gradient-5-start) 93.75%);
  --header-gradient-5-3: color-mix(in srgb, var(--header-gradient-5-end) 12.5%, var(--header-gradient-5-start) 87.5%);
  --header-gradient-5-4: color-mix(in srgb, var(--header-gradient-5-end) 18.75%, var(--header-gradient-5-start) 81.25%);
  --header-gradient-5-5: color-mix(in srgb, var(--header-gradient-5-end) 25%, var(--header-gradient-5-start) 75%);
  --header-gradient-5-6: color-mix(in srgb, var(--header-gradient-5-end) 31.25%, var(--header-gradient-5-start) 68.75%);
  --header-gradient-5-7: color-mix(in srgb, var(--header-gradient-5-end) 37.5%, var(--header-gradient-5-start) 62.5%);
  --header-gradient-5-8: color-mix(in srgb, var(--header-gradient-5-end) 43.75%, var(--header-gradient-5-start) 56.25%);
  --header-gradient-5-9: color-mix(in srgb, var(--header-gradient-5-end) 50%, var(--header-gradient-5-start) 50%);
  --header-gradient-5-10: color-mix(in srgb, var(--header-gradient-5-end) 56.25%, var(--header-gradient-5-start) 43.75%);
  --header-gradient-5-11: color-mix(in srgb, var(--header-gradient-5-end) 62.5%, var(--header-gradient-5-start) 37.5%);
  --header-gradient-5-12: color-mix(in srgb, var(--header-gradient-5-end) 68.75%, var(--header-gradient-5-start) 31.25%);
  --header-gradient-5-13: color-mix(in srgb, var(--header-gradient-5-end) 75%, var(--header-gradient-5-start) 25%);
  --header-gradient-5-14: color-mix(in srgb, var(--header-gradient-5-end) 81.25%, var(--header-gradient-5-start) 18.75%);
  --header-gradient-5-15: color-mix(in srgb, var(--header-gradient-5-end) 87.5%, var(--header-gradient-5-start) 12.5%);
  --header-gradient-5-16: color-mix(in srgb, var(--header-gradient-5-end) 93.75%, var(--header-gradient-5-start) 6.25%);
  --header-gradient-5-17: color-mix(in srgb, var(--header-gradient-5-end) 100%, var(--header-gradient-5-start) 0%);
}

/* Assign Each Callout a Color */
.gradient_1_1 { color: var(--header-gradient-1-1) !important; }
.gradient_1_2 { color: var(--header-gradient-1-2) !important; }
.gradient_1_3 { color: var(--header-gradient-1-3) !important; }
.gradient_1_4 { color: var(--header-gradient-1-4) !important; }
.gradient_1_5 { color: var(--header-gradient-1-5) !important; }
.gradient_1_6 { color: var(--header-gradient-1-6) !important; }
.gradient_1_7 { color: var(--header-gradient-1-7) !important; }
.gradient_1_8 { color: var(--header-gradient-1-8) !important; }
.gradient_1_9 { color: var(--header-gradient-1-9) !important; }
.gradient_1_10 { color: var(--header-gradient-1-10) !important; }
.gradient_1_11 { color: var(--header-gradient-1-11) !important; }
.gradient_1_12 { color: var(--header-gradient-1-12) !important; }
.gradient_1_13 { color: var(--header-gradient-1-13) !important; }
.gradient_1_14 { color: var(--header-gradient-1-14) !important; }
.gradient_1_15 { color: var(--header-gradient-1-15) !important; }
.gradient_1_16 { color: var(--header-gradient-1-16) !important; }

.gradient_2_1 { color: var(--header-gradient-2-1) !important; }
.gradient_2_2 { color: var(--header-gradient-2-2) !important; }
.gradient_2_3 { color: var(--header-gradient-2-3) !important; }
.gradient_2_4 { color: var(--header-gradient-2-4) !important; }
.gradient_2_5 { color: var(--header-gradient-2-5) !important; }
.gradient_2_6 { color: var(--header-gradient-2-6) !important; }
.gradient_2_7 { color: var(--header-gradient-2-7) !important; }
.gradient_2_8 { color: var(--header-gradient-2-8) !important; }
.gradient_2_9 { color: var(--header-gradient-2-9) !important; }
.gradient_2_10 { color: var(--header-gradient-2-10) !important; }
.gradient_2_11 { color: var(--header-gradient-2-11) !important; }
.gradient_2_12 { color: var(--header-gradient-2-12) !important; }
.gradient_2_13 { color: var(--header-gradient-2-13) !important; }
.gradient_2_14 { color: var(--header-gradient-2-14) !important; }
.gradient_2_15 { color: var(--header-gradient-2-15) !important; }
.gradient_2_16 { color: var(--header-gradient-2-16) !important; }

.gradient_3_1 { color: var(--header-gradient-3-1) !important; }
.gradient_3_2 { color: var(--header-gradient-3-2) !important; }
.gradient_3_3 { color: var(--header-gradient-3-3) !important; }
.gradient_3_4 { color: var(--header-gradient-3-4) !important; }
.gradient_3_5 { color: var(--header-gradient-3-5) !important; }
.gradient_3_6 { color: var(--header-gradient-3-6) !important; }
.gradient_3_7 { color: var(--header-gradient-3-7) !important; }
.gradient_3_8 { color: var(--header-gradient-3-8) !important; }
.gradient_3_9 { color: var(--header-gradient-3-9) !important; }
.gradient_3_10 { color: var(--header-gradient-3-10) !important; }
.gradient_3_11 { color: var(--header-gradient-3-11) !important; }
.gradient_3_12 { color: var(--header-gradient-3-12) !important; }
.gradient_3_13 { color: var(--header-gradient-3-13) !important; }
.gradient_3_14 { color: var(--header-gradient-3-14) !important; }
.gradient_3_15 { color: var(--header-gradient-3-15) !important; }
.gradient_3_16 { color: var(--header-gradient-3-16) !important; }

.gradient_4_1 { color: var(--header-gradient-4-1) !important; }
.gradient_4_2 { color: var(--header-gradient-4-2) !important; }
.gradient_4_3 { color: var(--header-gradient-4-3) !important; }
.gradient_4_4 { color: var(--header-gradient-4-4) !important; }
.gradient_4_5 { color: var(--header-gradient-4-5) !important; }
.gradient_4_6 { color: var(--header-gradient-4-6) !important; }
.gradient_4_7 { color: var(--header-gradient-4-7) !important; }
.gradient_4_8 { color: var(--header-gradient-4-8) !important; }
.gradient_4_9 { color: var(--header-gradient-4-9) !important; }
.gradient_4_10 { color: var(--header-gradient-4-10) !important; }
.gradient_4_11 { color: var(--header-gradient-4-11) !important; }
.gradient_4_12 { color: var(--header-gradient-4-12) !important; }
.gradient_4_13 { color: var(--header-gradient-4-13) !important; }
.gradient_4_14 { color: var(--header-gradient-4-14) !important; }
.gradient_4_15 { color: var(--header-gradient-4-15) !important; }
.gradient_4_16 { color: var(--header-gradient-4-16) !important; }

.gradient_5_1 { color: var(--header-gradient-5-1) !important; }
.gradient_5_2 { color: var(--header-gradient-5-2) !important; }
.gradient_5_3 { color: var(--header-gradient-5-3) !important; }
.gradient_5_4 { color: var(--header-gradient-5-4) !important; }
.gradient_5_5 { color: var(--header-gradient-5-5) !important; }
.gradient_5_6 { color: var(--header-gradient-5-6) !important; }
.gradient_5_7 { color: var(--header-gradient-5-7) !important; }
.gradient_5_8 { color: var(--header-gradient-5-8) !important; }
.gradient_5_9 { color: var(--header-gradient-5-9) !important; }
.gradient_5_10 { color: var(--header-gradient-5-10) !important; }
.gradient_5_11 { color: var(--header-gradient-5-11) !important; }
.gradient_5_12 { color: var(--header-gradient-5-12) !important; }
.gradient_5_13 { color: var(--header-gradient-5-13) !important; }
.gradient_5_14 { color: var(--header-gradient-5-14) !important; }
.gradient_5_15 { color: var(--header-gradient-5-15) !important; }
.gradient_5_16 { color: var(--header-gradient-5-16) !important; }

/* Togglable CSS Classes */
.gradient-header-location{
  --header-text-location: center;
}

.gradient-border{
  [class*="gradient_"] {
    border: var(--header-gradient-border-size) solid;
    border-radius: var(--header-gradient-border-radius);
  }
}

/* Keyframes for slide-in animation */
@keyframes slideIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Base Gradient Header Style */
[class*="gradient_"] {
  font-size: var(--header-font-size) !important;
  font-family: var(--header-font-family) !important;
  text-align: var(--header-text-location);
  font-weight: var(--header-font-weight) !important;

  padding: 10px 0 16px 0;
  animation: slideIn 2s ease-out;
  position: relative;
}
